@{
    ViewData["Title"] = "The Shelf";
}
@model BooksViewModel

<div class="blockquote">
    <h1>The Shelf</h1>
</div>

@foreach (Book b in Model.Books)
    {
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h3>@b.Title</h3>

           
            <ul>
                <li>By: @b.Author</li>
                <li>@b.Category</li>
                <li>Genre: @b.Classification</li>
                <li>Number of Pages: @b.PageCount</li>
                <li>@b.Publisher</li>
                <li>ISBN: @b.Isbn</li>
            </ul>
                <span class="badge badge-pill badge-primary text-bg-dark" style="float:right">
                    <small>
                     $@b.Price
                    </small>
            </span>
        </div>
        <br />
    </div>
    }
<div page-link-maker="@Model.PageInfo" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">

</div>
