@{
}

@model Book
<div class="card bg-faded bg-info-subtle card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h3>@Model.Title</h3>


        <ul>
            <li>By: @Model.Author</li>
            <li>@Model.Category</li>
            <li>Genre: @Model.Classification</li>
            <li>Number of Pages: @Model.PageCount</li>
            <li>@Model.Publisher</li>
            <li>ISBN: @Model.Isbn</li>
        </ul>
        <span class="badge badge-pill badge-primary text-bg-dark" style="float:right">
            <small>
                $@Model.Price
            </small>
        </span>
    </div>
    <br />
    <form method="post" asp-page="/Purchase">
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathandQuery()" />
        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>
    </form>
</div>

